<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwiromadon.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon_apps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_apps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin.ListJasa"></activity>
        <activity android:name=".admin.ListProduk" />
        <activity android:name=".users.RegistrasiActivity" />
        <activity android:name=".pengguna.Maps" />
        <activity android:name=".pengguna.History" />
        <activity android:name=".pengguna.DetailPetshopPengguna" />
        <activity
            android:name=".pengguna.DataPetshopPengguna"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".admin.TambahGambar" />
        <activity android:name=".admin.SampleCorousel" />
        <activity android:name=".admin.DetailPetshop" />
        <activity android:name=".admin.DataPetshop" />
        <activity android:name=".admin.Jasa" />
        <activity android:name=".admin.Produk" />
        <activity android:name=".admin.JamBuka" />
        <activity android:name=".admin.InputData" />
        <activity android:name=".admin.UbahJamBuka" />
        <activity android:name=".pengguna.HomePengguna" />
        <activity android:name=".admin.HomeAdmin" />
        <activity android:name=".users.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>